.footer {
    background-color: #F7F7F7;
    padding: 60px 0;
}
.container {
}
.footer__contant {
    display: flex;
    justify-content: space-between;
}
.footer__info > .footer__text {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #645c55;
}

.footer__text:first-child{
   
}
.footer__logo {
    margin-bottom: 20px;
}
.footer__text {
}
.social {
}
.social__list {
    display: flex;
    gap: 20px;
}
.social__item {
}