.projects {
    background-color: #F7F7F7;
    padding: 120px 0 100px;
    font-family: var(--poppins);
    font-weight: 400;
}

.container {}

.projects__contant {
    display: flex;
    flex-direction: column;

}

.projects__desc {

    max-width: 40%;
}

.projects__title {
    font-size: 39px;
    line-height: 108%;
    color: #1b1a1a;
}

.projects__text {
    margin-top: 15px;
    font-size: 24px;
    line-height: 125%;
    color: #645c55;
}

.projects__list {
    display: flex;
    gap: 16px;
    transform: translateX(-3.2%);
    margin-top: 40px;
}

.projects__item__img {
    background-image: url(../../img/project/pic2.png);
    max-width: 340px;
    max-width: 100%;
}

.projects__item-info {
    padding: 40px 128px 40px 40px;
    display: flex;
    flex-direction: column;
}

.link {}

.projects__link {
    align-self: center;
    margin-top: 51px;
}

.projects__item-title {
    font-size: 23px;
    line-height: 130%;
    color: #403e3b;
    text-wrap: nowrap
}

.projects__item-btn {
    padding: 11px 20px;
    background-color: #1B1A1A;
    border-radius: 14px;
    border: none;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-top: 240px;
}